---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="About Page">
	<div class="text-center mt-12">
		<h1 class="text-3xl font-bold mb-2">About this project</h1>
		<p class="text-xl text-gray-300">
			This project created by <a
				class="text-sky-400 after:content-['_↗']"
				href="https://astro.build/"
				target="_blank">Astro</a
			><br /> and used fake api for save time <a
				class="text-sky-400 after:content-['_↗']"
				href="https://fakeapi.platzi.com/"
				target="_blank">Platzi Fake Store API</a
			>
		</p>
		<img
			src="/favicon.svg"
			height="256px"
			width="256px"
			alt="astro_logo"
			class="mx-auto"
		/>
	</div>
</Layout>
