---
import Layout from "@/layouts/Layout.astro"
import ProductCards from "@/ui/ProductCards"

const response = await fetch("https://api.escuelajs.co/api/v1/products")
const data = await response.json()
---

<Layout title="Products Page">
	<h1 class="text-3xl font-bold">All Product</h1>
	<div class="flex flex-wrap gap-8 mt-4">
		{data && data.map((item) => <ProductCards client:visible {...item} />)}
	</div>
</Layout>
